:root{
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --accent1-color: #e9c46a;
    --accent2-color: #f4a261;
    font-family:'Raleway', serif, sans-serif;
}
.raleway-fonts {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
*{
    margin: 0.5rem;
    box-sizing: border-box;
}
h2{ 
    color: var(--secondary-color);
}
header a{
    color: var(--primary-color);
    text-decoration: none;
}

.hero{
    position: relative;
}
.hero img{
    display:block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.622);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.hero article{
    position: absolute;
    top: 120px;
    left:150px;
    background-color: #264653cb;
    width: 75%;
    color: white;
}
.hero article img{
    float:right;
    width: 200px;
    height: auto;
}
footer img {
    width: 30px;
    margin: 0;
}

footer{
    text-align: center;
}