:root{
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --accent1-color: #e9c46a;
    --accent2-color: #f4a261;
    font-family:'Raleway', serif, sans-serif;
}
.raleway-fonts {
  font-family: "Raleway", serif;
  font-weight: 200;
  font-style: normal;
}
*{
    margin: 0.5rem;
    box-sizing: border-box;
}

.maintrips{
    background-color: #E1ECF3;
    padding-top: 100px;
    border-radius: 70px;
}
header a{
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 6px;
}
header a:hover{
    background-color: rgba(232, 232, 232, 0.346);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1rem auto;
    max-width: 840px;
}
.navigation{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
    border-bottom: solid 1px rgba(179, 179, 179, 0.239);
}
.navigation li{
    flex: 1 1 auto;
}


h2{ 
    color: var(--secondary-color);
}
.hero{
    position: relative;
}
.hero img{
    display:block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.622);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.herohome h1{
    margin-top: 0;
    padding: 130px;
    background-color: rgba(0, 0, 0, 0.716);

}
.hero article{
    position: absolute;
    top: 120px;
    left:150px;
    background-color: #264653cb;
    width: 75%;
    color: white;
}
.hero article img{
    float:right;
    width: 200px;
    height: auto;
}

.gridhistory{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    place-items: center;
    margin: 100px 30px 30px;
    padding: 20px 30px 50px;
    width: auto;
    background-color: #e9d5a15c;
}
.gridhistory h2{
    align-self: center;
    grid-column: 2/3;
    margin:0;
}
.gridhistory img{
    width: 200px;
    height: auto;
    grid-column: 2/3;
    align-self: start;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}
.firstpart{
    order:-1;
    grid-row: 2/3;
    align-self: start;
}
.secondpart{
    align-self: start;
}


.gridadventure{
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 30px;
    padding: 20px 10px 30px;
    background-color: #f4a3612a;
    
}
.gridadventure h2{  
    text-align: center;
    width: 100%;

}
.breakline{ 
  flex-basis: 100%;
  height: 0;
}
.gridadventure img{
    width: 200px;
}
figure{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    background-color: #264653be;
    color: white;
}


footer{
    display: grid;
    grid-template-columns: 1fr 10px;
    width: 100%;
    flex-direction: row;
}
footer img {
    width: 30px;
    margin: 0;

}
footer nav{
    justify-self: flex-end;
}

.p{
    grid-column: 1/2;
    justify-self: center;
    position: absolute;
}


.contactus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.title{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    padding: 8px;
    background: #2A9D8F54;
    border-radius: 10px;
    margin: 50px 0;
}
.contact{
    grid-column: 2/3;
    text-align: left;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin: 30px 0;
}
iframe{
    grid-row: 2/5;
    width: 90%;
    height: 100%;
    margin-left: 20px;
    border-radius: 10px;
}
.contactus img{
    float: left;
    width: 20px;
    margin: 20px 30px 0;
    height: auto;
}


.employeers .title{
    float: initial;
}
.employeers{
    display: flex;
    justify-content: space-around;
}
.employeers img{
    width: 300px;
    border-radius: 10px;
}
.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 320px;
    height: 380px;
    border-radius: 10px;
    background-color: #FAFAFA;

}
.profile h3{
    font-weight: 450;
    margin-top: 30px;
}
.profile h4{
    font-weight: 430;
}


.gettouch{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.gettouchleft{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gettouch h3{
    font-size: 14px;
}
.gettouch h1{
    font-size: 38px;
}
.gettouchright{
    width: 537px;
}

.gettouchright form{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    height: auto;
    width: 100%;
    padding: 20px;
    background: #FAFAFA;
    border-radius: 24px;
}
label{
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 0;
}

input[type="text"]{
    margin-top: 0;

}
input[type="radio"]{
    margin: 0;
}

.gettouchright div label{
    margin-left: 4px;
    font-size: 14px;
}

.gettouchright button{
    background-color: #30E0CB;
    border: 0;
    padding: 8px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 4px;
    width: 150px; 
}

.newsletter{
    text-align: center;
    background-color: rgb(246, 245, 255);
}
.newsletter .h1{
    margin: 120px 0 10px;
    font-size: 60px;
    padding-top: 30px;
}

.newsletter div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    padding-left: 150px;
}
.newsletter h2{
    width: 60%;
    font-size: 28px;
}
.newsletter form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
}

.newsletter form input[type="text"]{
    border: 1px solid rgb(65, 65, 65);
    border-radius: 6px;
    padding: 7px;
    margin-top: 10px;
}
.newsletter form input[type="text"]::placeholder{
    color: rgb(165, 165, 165);
}

.newsletter button{
    padding: 7px;
    border: 0;
    border-radius: 7px;
    width: 40%;
    align-self:center;
    background-color: #bafff7;
    font-size: 23px;
}
.newsletter button:hover{
    background-color: #5effec;
    transition: 0.2s;
    cursor: pointer;
}



.calltoaction{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 120px 0;
}
.calltoaction h2{
    font-size: 50px;
}
.calltoaction button{
    padding: 17px;
    border: 0;
    border-radius: 4px;
    width: 15%;
    align-self:center;
    background-color: #bac9ff;
    font-size: 22px;
}
.calltoaction button:hover{
    background-color: #ff7c73;
    cursor: pointer;
    transition: 0.2s;
}


.offers{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.offers img{
    width: 350px;
}
.wordscolumn{
    width: 100%;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.trips{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.trips div{
    overflow: hidden;
}
/*
.trips div img{
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.trips div:hover img{
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
}
*/
.trips p{
    margin-top: 20px;
}

.trips-detail{
    background-color: white;
    border-radius: 25px;
    margin: 25px;
}
.trips-detail img{
    margin: 0;
    width: 100%;
}
.trips-detail-text{
    text-align: left;
    padding-left: 20px;
}
.trips-detail-text h3{
    font-size: 1rem;
    letter-spacing: .0625rem;
    color: #686C83;
}
.trips-detail-text h4{
    font-size: clamp(1.5rem, 1.1261682243rem + .7788161994vw, 1.8125rem);
  }
.trips-detail-text h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.trips-detail-text h6 {
    font-size: 0.9rem;
    font-weight: 350;
}
.trips-detail-text b{
    margin-left: 0;
}

.trips-detail-text h6 b{
    font-weight: 800;
}
.trips-detail-text h6:last-child{
    margin-bottom: 60px;
}


.avaliation{
    padding: 13px;
    padding-right: 3px;
    background: url(../images/star.png) no-repeat left center;
    background-size: 15px;
    text-decoration: none;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}
.table h2{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 5rem;
}

table {
    border-collapse:collapse;
    border: 1px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  
  thead{
    background-color: rgb(214, 243, 255);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    width: 240px;
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(226, 230, 244);
  }

  tfoot td {
    font-weight: bold;
  }
  
  .findtrip{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #030a30;
    letter-spacing: .075rem;
    margin-bottom: 1rem;
    text-align: center;
}
.subfindtrip{
    font-weight: 700;
    font-size: clamp(2rem, .2056074766rem + 3.738317757vw, 3.5rem);
    text-transform: uppercase;
    text-align: center;
    }

.last-item-trips{
    padding-bottom: 150px;
    margin-bottom: 0;
}