.callout {
    max-width: 30%;
    margin: 10px;
    border: 4px; 
    padding: 10px;
	background-color: #234476;
    color: #fffff6;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 2px solid #babbba;
    padding: 2px;
    background-color: #babbba;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    padding-top: 5px;
    border-top: 1px dotted  #fffff6;
    text-align: right;
    font-size: 14px;

}